<!-- Header -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div id="wrapper">
            <div class="street-machine">
              <h1 class="street">STREET</h1>
            </div>
          </div>
        </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="search" matInput placeholder="Favorite food">
          </mat-form-field>
        </form>
      </div>
      <div class="col-md-2">
        <br>
        <mat-icon matSuffix [matMenuTriggerFor]="cart">mode_shopping-cart</mat-icon>
        <mat-menu #cart="matMenu">
          <li mat-menu-item>Cart is Empty</li>
        </mat-menu>
      </div>
    </div>
</div>
<!-- Menu -->
<div class="row" style="background-color: #378DBC; height: 50px;margin-top: 20px;">
    <div class="container">
      <button mat-button  class="menu">Home</button>
      <button mat-button  class="menu">About</button>
      <button mat-button [matMenuTriggerFor]="menu" class="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

    </div>
</div>

<!-- Sidebar -->
<!--
 <div class="">
      <span class="sidebar_heading" (click)="drawer.toggle()" >Sidebar</span><mat-icon matSuffix (click)="drawer.toggle()" >mode_menu</mat-icon>
    </div>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">

        <div class="mat-menu-content ng-trigger ng-trigger-fadeInItems" style="opacity: 1;">
          <button _ngcontent-c140="" class="mat-menu-item" mat-menu-item="" role="menuitem" tabindex="0" aria-disabled="false">
            <mat-icon _ngcontent-c140="" class="mat-icon material-icons" role="img" aria-hidden="true">dialpad</mat-icon>
            <span _ngcontent-c140="">Redial</span>
            <div class="mat-menu-ripple mat-ripple" matripple=""></div>
          </button>
          <button _ngcontent-c140="" class="mat-menu-item" disabled="true" mat-menu-item="" role="menuitem" tabindex="-1" aria-disabled="true">
            <mat-icon _ngcontent-c140="" class="mat-icon material-icons" role="img" aria-hidden="true">voicemail</mat-icon>
            <span _ngcontent-c140="">Check voicemail</span>
            <div class="mat-menu-ripple mat-ripple" matripple=""></div>
          </button>
          <button _ngcontent-c140="" class="mat-menu-item" mat-menu-item="" role="menuitem" tabindex="0" aria-disabled="false">
            <mat-icon _ngcontent-c140="" class="mat-icon material-icons" role="img" aria-hidden="true">notifications_off</mat-icon>
            <span _ngcontent-c140="">Disable alerts</span>
            <div class="mat-menu-ripple mat-ripple" matripple=""></div>
          </button>
        </div>
      </mat-drawer>
    </mat-drawer-container>
-->
<div class="container">
  <table class="table">
    <tr>
      <td></td><td></td>
      <td>
        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Open modal</button>-->
        <button  class="btn btn-primary" mat-raised-button (click)="openDialog()">Open modal</button>
      </td>
    </tr>

    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>

    <tbody>
    <tr *ngFor="let i of studentData">
      <td>{{ i.name }}</td>
      <td>{{ i.mobno }}</td>
    </tr>
    </tbody>
  </table>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Student</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="example-form" #f="ngForm" (ngSubmit)="addStudent(f)">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="name" type="text" name="name"  #name="ngModel" ngModel>
            </mat-form-field>
            <mat-form-field>
            <mat-select placeholder="Select State">
              <mat-option>Gujarat</mat-option>
              <mat-option>Rajasthan</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="mobile number" type="text" name="mobno" #mobno="ngModel" ngModel>
            </mat-form-field>

              <button type="submit" class="btn btn-primary" >Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="example-container">


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" required></textarea>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone" required>

      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-form-field>
      <mat-select placeholder="Favorite food" multiple>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="btn btn-primary">Click me!</button>
  </form>


</div>

-->
